
<h1>Hello its main page</h1>
<app-header></app-header>
<app-footer></app-footer>
{{title}}
<br>
<button (click)="textIsVisible = !textIsVisible" >Click</button>

<p *ngIf="textIsVisible">Lorem ipsum dolor sit amet consectetur adipisicing elit. At illum libero assumenda quaerat, delectus repudiandae praesentium reiciendis ducimus, qui molestias nesciunt impedit sequi voluptatum placeat tempore cum totam minima quam!</p>

<ul>
  <li><a routerLink="/">Home</a></li>
  <li><a routerLink="/support">Support</a></li>
  <li><a routerLink="/contacts">Contacts</a></li>
</ul>
<router-outlet></router-outlet>